/* src/subpages/Calculate.css */
.title-calculate {
  color: #3E3E3E;
  font-family: DM Serif Text;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.46px;
  position: relative;
  top: 2vh;
  /* background-color: blue; */
}

.inputs{

}

.calculate {
  display: flex; /* Use flexbox to arrange components */
  padding-left: 10%; /* Add left padding */
  padding-right: 10%; /* Add right padding */
  /* background-color: yellow; */
}

.text-calculate {
  flex: 1; /* Allow input section to grow and take available space */
  /* background-color: green; */

}

.nutrients {
  margin-left: 20px; /* Add spacing between MenuTags and StagingBoard */
}


