/* src/subpages/Calculate.css */
.title {
    width: 424px;
    height: 55px;
    margin-bottom: 20px;
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 54.84px;
    color: #3E3E3E;
  }
.addToTummy{
  width: 238px;
  height: 64px;
  position: absolute;
  top: 580px;
  left: 1070px;
}
.calculate {
  padding-left: 25%;
  padding-right: 25%;
  flex-direction: row;
  display: flex;
}

.input {
  
}

.nutrients {
}