/* RecipeUrlInput.css */

.recipe-input-container {
  width: 504px;
  height: 5%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 17px 38px;
  background-color: #F1F1F1; /* Gray background color */
  display: flex;
  align-items: center;
  position: relative;
  top: 4vh;
}

.link-chain-container {
  flex: 1;
  display: flex;
  align-items: center;

  max-width: 7%;
}

.link-chain-image {
  width: 22px; /* Adjust the width as needed */
  height: 22px; /* Adjust the height as needed */
}

.search-input-container {
  flex: 4;
  display: flex;

  /* align-items: center; */
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent; /* Transparent input background */
  font-size: 24px;
  color: #333; /* Text color */
  padding-left: 30px;
}

.search-input::placeholder {
  color: #999; /* Placeholder text color */
}

.add-button {
  display: flex;
  padding: 8px 12px;
  border-radius: 5px;
  background: #E1E1E1;
  justify-content: center;
  align-items: center;
  font-family: Nunito;
  border-color: transparent;
  color: #4d4d4d;
}

.add-button:hover {
  background-color: #333; /* Darker color when hovering over the button */
}
