.Collection {
    padding: 20px;
}

.title-collection {
    color: #3E3E3E;
    font-family: DM Serif Text;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    top: 3vh;
}

.wrapper{
    padding: 0px;
    position: relative;
    top: 5vh;
    width: 75vw;
    height: 60vh;
}

.flex-container-collection {
  /* background-color: yellow; */
  width: 72vw;
  height: 60vh;
  border-radius: 10px;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-right: 10vw;
}

.collection-box-image {
  border-radius: 10px;
  width: 15vw;
  height: 35vh;
  background-color: #F1F1F1;   
  min-height: 30%; 
}    

.collection-box-text {
  border-radius: 10px;
  width: 15vw;
  height: 30vh;
  background-color: #F1F1F1;   
  min-height: 30%; 
}    

.text-collection
 {
    text-align: center;
    padding: 10px;
    background-color: #F1F1F1;
  }
  
/* Style for the collection image */
.img-collection {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
  